@import url('https://fonts.googleapis.com/css?family=Roboto');

@keyframes zoomIn {
  0% {
    transform: scale(.3, .3);
  }
  100% {
    transform: scale(1, 1);
  }
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

body {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;

	background: #DADFE8;

	/*-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;*/
}

#map-wrapper {
	width: 50%;
}

#ph-map {
	background: #DADFE8;
	color: #666666;

	font: 72px 'Roboto', sans-serif;
	text-align: center;
	animation: .8s ease-out 0s 1 zoomIn;

	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;

	height: 100%;
	width: 50%;

	/*float: right;*/
	position: absolute;
}

#ph-map:hover {
	transform: scale(1.03);
}


.yo {

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;

	flex-direction: column;

	/*background: #EFEFEF;*/
	background: #DADFE8;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;

	animation: .4s ease-out 0s 1 zoomIn;

	/*float: left;*/
	/*width: 40%;*/
	padding-right: 5px;
}

.yo table:hover {
	font-size: 20px;
}

.yo div {
	background: #EFEFEF;
	padding: 25px 25px 25px 25px;
	box-shadow: 0px -2px 5px #888888;
}

.yo div p {
	color: #666666;
	font-size: 68px;
	text-align: center;
	margin: 0;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.yo div p:hover {
	color: #4D4D4D;
	font-size: 60px;
}

.yo table {
	padding: 50px 50px 50px 50px;
	width: 100%;
	background: #EFEFEF;
	color: #1C4587;
	font-size: 18px;
	box-shadow: 0 1px 5px #888888;
	/*height: inherit;*/
	/*border: 1px solid #888888;*/	

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.yo table tr td {
	padding: 5px 5px 5px 5px;
}

.right {
	color: #950000;
}
