@import url('https://fonts.googleapis.com/css?family=Roboto');

@keyframes zoomIn {
  0% {
    transform: scale(.3, .3);
  }
  100% {
    transform: scale(1, 1);
  }
}

body {

}

#zoom-out {
	padding-left: 80%;
    padding-right: 0%;
    margin: 0;
    bottom: 30px;
 	right: 30px;
}

#zoom-out button {
	font: 28px 'Roboto', sans-serif;
	font-weight: bold;

	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: fixed;
    z-index: 0;
}

#ph-map {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	background: #DADFE8;
	color: #666666;

	font: 72px 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;

	/*padding: 2em 2em 2em 2em;*/
	/*text-shadow: -1px -1px 0px #333, -1px -1px 0px #333;*/
	/*color: #333;*/
	animation: .8s ease-out 0s 1 zoomIn;

	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;

	height: 100%;
	width: 100%;
}

/*#ph-map:hover {
	transform: scale(1.4);
}*/

