@import url('https://fonts.googleapis.com/css?family=Roboto');

@keyframes zoomIn {
  0% {
    transform: scale(.3, .3);
  }
  100% {
    transform: scale(1, 1);
  }
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

body {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;

	background: #DADFE8;
}

#map-wrapper {
	width: 50%;
}

::-webkit-scrollbar { 
    display: none; 
}

#ph-map {
	background: #DADFE8;
	color: #666666;

	font: 72px 'Roboto', sans-serif;
	text-align: center;
	animation: .8s ease-out 0s 1 zoomIn;

	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;

	height: 100%;
	width: 40%;

	position: absolute;
}

#ph-map:hover {
	transform: scale(1.03);
	margin-left: 10px;
}


.yo {

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*justify-content: center;*/

	flex-direction: column;

	align-content: space-between;

	background: #DADFE8;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;

	animation: .4s ease-out 0s 1 zoomIn;

	width: 60%;
	padding-right: 5px;
	padding-left: 1%;

	overflow-y: scroll;

	-ms-overflow-style: none;
}

.yo div p {
	width: 100%;
}

.yo div img {
	width: 50%;
	height: 50%;
	padding: 2% 20% 2% 20%;
}

.yo table {
	width: 100%;

	border: 1px solid #ccc;
	border-radius: 6px;
}

.yo table:hover {
	/*font-size: 19px;*/
	transform: scale(1.01);
}

.yo div {
	background: #EFEFEF;
	padding: 25px 25px 25px 25px;
	box-shadow: 0px -2px 5px #888888;

	border: 1px solid #ccc;
	border-radius: 6px;
}

.yo div p {
	color: #666666;
	font-size: 68px;
	text-align: center;
	margin: 0;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.yo div p:hover {
	color: #4D4D4D;
	font-size: 60px;
}

.yo table {
	padding: 50px 50px 50px 50px;
	background: #EFEFEF;
	color: #1C4587;
	font-size: 18px;
	box-shadow: 0 1px 5px #888888;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.yo table tr td {
	padding: 5px 5px 5px 5px;
}

.right {
	color: #950000;
}
